h1{
    border: 2px double  red;
    font: size 3rem;;
    padding: 0.5cm;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 3px dashed brown;
    border-right-color: blue;
    border-left-style: inherit;
    outline: 5px solid gold;
    outline-offset: 2px;
    
}
/*
*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}*/

.container{
    border: 2px dashed black;
    margin-top: 10px;
    font-size: 1.5rem;
    padding: 1em 0.5em;
    border-width: medium;
    margin: 1.5rem 2em 3px;
    padding-block-start: inherit;
    border-radius: 0.3cm;
    outline: 5px yellow;
    outline-offset: -15px;
}
.circle{
    margin: 3rem auto;
    border: 5px solid red;
    border-radius: 50px;
    background-color: yellow;
    height: 100px;
    width: 100px;
    outline: 5px dotted brown;
    outline-offset: 0.1cm
}